<configuration>
  <dllmap dll="libglib-2.0-0.dll" target="libglib-2.0.so.0"/>
  <dllmap dll="libgobject-2.0-0.dll" target="libgobject-2.0.so.0"/>
  <dllmap dll="libgthread-2.0-0.dll" target="libgthread-2.0.so.0"/>
  <dllmap dll="libgtk-win32-2.0-0.dll" target="libgtk-x11-2.0.so.0"/>
  <dllmap dll="gnome-2" target="libgnome-2.so.0"/>
  <dllmap dll="gnomecanvas-2" target="libgnomecanvas-2.so.0"/>
  <dllmap dll="gnomeui-2" target="libgnomeui-2.so.0"/>
  <dllmap dll="gnomesharpglue-2" target="/usr/lib/cli/gnome-sharp-2.24/libgnomesharpglue-2.so"/>
</configuration>
