<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Boo.Lang.CodeDom" publicKeyToken="32c39770e9a21a67"/>
          <bindingRedirect oldVersion="2.0.9.2" newVersion="2.0.9.5"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
